{{- if .Values.backend.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: backend-ingress
  namespace: {{ .Values.namespaces.backend }}
spec:
  ingressClassName: {{ .Values.backend.ingress.ingressClassName }}
  rules:
  - host: {{ .Values.backend.ingress.host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: backend
            port:
              number: {{ .Values.backend.service.port }}
{{- end }}
