apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: {{ .Values.namespaces.db }}
spec:
  serviceName: "redis"
  replicas: {{ .Values.database.redis.replicaCount }}
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: "{{ .Values.database.redis.image.repository }}:{{ .Values.database.redis.image.tag }}"
        ports:
        - containerPort: {{ .Values.database.redis.port }}
        command: ["redis-server", "--requirepass", "$(REDIS_PASSWORD)"]
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: REDIS_PASSWORD
        resources:
          {{- toYaml .Values.database.redis.resources | nindent 10 }}
